*{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.wrap {
    width: 100vw;
    height: 100vh;
    background: url("../img/informationManagementBg.jpg") no-repeat center;
    background-size: 100%;
}
.backToLogin {
    position: absolute;
    top: 6vh;
    left: 3vw;
    width: 3vw;
}
.backToLoginText {
    position: absolute;
    top: 6.2vh;
    left: 7vw;
    color: #efeff1;
    font-size: 2vw;
}
.retrieveBox {
    border: 2px solid lightgray;
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 20vh;
    left: 20vw;
    box-shadow: 0 0 3px white;
    background-color: rgba(255,255,255,0.9);
    border-radius: 2vh;
}
.retrieveBox .showBox {
    /*border: 1px solid red;*/
    position: absolute;
    top: 6.5vh;
    padding: 1vw;
    border-radius: 6.5vh;
    color: rgba(0,0,0,0.7);
}
.retrieveBox .showBox > img {
    width: 2vw;
    vertical-align: middle;
}
.retrieveBox .show_1 {
    left: 8vw;
}
.retrieveBox .show_2 {
    left: 25.5vw;
}
.retrieveBox .show_3 {
    left: 43vw;
}
.next {
    position: absolute;
    top: 9.5vh;
    width: 6vw;
}
.next_1 {
    left: 19vw;
}
.next_2 {
    left: 36.5vw;
}
.retrieveHeader .active {
    background-color: rgba(126,218,231,0.8);
}
.retrieveBody {
    position: absolute;
    top: 25vh;
    left: 20vw;
    display: none;
    width: 20vw;
}
.loginCheck {
	width: 30vw;
    margin: 3vh auto 0 auto;
    height: 5vh;
    position: absolute;
    top: -8vh;
    left: -4.2vw;
    color: rgba(0,0,0,0.7);
    text-align: center;
}
.loginCheck > p {
	display: inline-block;
}
.loginCheck > div {
    display: inline-block;
    padding: 1.2vh 0;
    font-size: 1vw;
    width: 8vw;
    margin: 0 0.5vw;
    border-radius: 5vh;
}
.loginCheck .loginCheckUser,.loginCheck .loginCheckManager {
    background-color: rgba(220,220,220,0.9);
    color: rgba(55,55,55,0.8);
}
.loginCheck .beChecked {
    background-color: rgba(126,218,231,0.8);
}
.drag {
    width: 200px;
    height: 34px;
    margin: 20px 0;
    line-height: 34px;
    background-color: #e8e8e8;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
}
.drag_btn {
    position: absolute;
    top: 102px;
    left: 0;
    border: 1px solid #ccc;
    background-color: #e8e8e8;
    border-radius: 5px;
    height: 32px;
    width: 32px;
    cursor: move;
    z-index: 99;
}
.btn_bg {
    background: url("../img/go.png") no-repeat center;
    background-size: 100%;
}
.btn_ok {
    background: url("../img/ok.png") no-repeat center;
    background-size: 100%;
}
.drag .progress {
    height: 34px;
    position: absolute;
    top: 102px;
    left: 0;
    background: rgba(101,193,217,0.8);
    z-index: 2;
    border-radius: 5px 0 0 5px;
}
.drag span {
    width: 100%;
    top: 102px;
    left: -25px;
    position: absolute;
    z-index: 3;
    color: rgba(0,0,0,0.7);
}
.inputText {
    color: rgba(0,0,0,0.7);
    text-align: center;
    margin: 15px 0 0 -50px;
}
.inputText > input[type = text],.inputText > input[type = password] {
    height: 24px;
    width: 170px;
    border-radius: 4px;
    border: 1px solid darkgray;
}
.inputText > input[type = button] {
    position: absolute;
    top: 15px;
    left: 19vw;
    height: 24px;
    border-radius: 4px;
    border: 1px solid darkgrey;
    padding: 0 1vw;
}
.retrieveBody_2 > .prompt {
    margin-top: 15px;
    display: none;
}
.retrieveBody_2 > .err {
    color: red;
}
.retrieveBody_2 > .suc {
    color: green;
}
#sureChange {
    width: 15.5vw;
    height: 5vh;
    letter-spacing: 0.5vh;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: rgba(0,0,0,0.8);
    position: absolute;
    top: 20vh;
}
.retrieveBody_3 {
    width: 100%;
    top: 20vh;
    left: 0;
    text-align: center;
}
.retrieveBody_3 > p {
    color: rgba(0,0,0,0.7);
    font-size: 1.5vw;
}
.backTo,.send {
    cursor: pointer;
}
#backToLog {
    width: 8vw;
    height: 5vh;
    letter-spacing: 0.5vh;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: rgba(0,0,0,0.8);
    margin-top: 10px;
}